menu.kyer-menu,menu.kyer-menu ul,menu.kyer-menu li {
	margin: 0;
	padding: 0;
	border: 0;
}

menu.kyer-menu ul {
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	list-style: none;
}

menu.kyer-menu ul ul {
	display: none;
}

menu.kyer-menu ul li:hover>ul {
	display: block;
}

menu.kyer-menu ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}


menu.kyer-menu ul li:hover a {
	color: #fff;
}

menu.kyer-menu ul li a {
	display: block;
	text-align: center;
	padding: 5px 1px;
	color: #757575;
	text-decoration: none;
	width: 150px;
}