menu.kyer-toolbar-menu>ul {
	width: 100%;
}

menu.kyer-toolbar-menu ul {
	position: relative;
	display: inline-table;
}

menu.kyer-toolbar-menu ul:after {
	content: "";
	clear: both;
	display: block;
}

menu.kyer-toolbar-menu ul li {
	float: left;
}

menu.kyer-toolbar-menu ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

menu.kyer-toolbar-menu ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

menu.kyer-toolbar-menu ul ul li a:hover {
	background: #4b545f;
}

menu.kyer-toolbar-menu ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
